---

- name: Create Inventory in AAP

  hosts: localhost

  connection: local

  gather_facts: false

  

  vars:

    # Controller connection details

    controller_hostname: "https://192.168.122.20"

    controller_oauthtoken: "EIFnMuewWUVded037eBSNuX4lJlUBX"

    controller_validate_certs: false



    # Inventory details

    inventory_name: "My Inventory"

    inventory_description: "Production servers inventory"

    inventory_organization: "MyOrganization"

    inventory_variables: ""  # Optional: YAML or JSON inventory variables

    

  tasks:

    - name: Create inventory in AAP

      ansible.controller.inventory:

        controller_host: "{{ controller_hostname }}"

        controller_oauthtoken: "{{ controller_oauthtoken }}"

        validate_certs: "{{ controller_validate_certs }}"

        name: "{{ inventory_name }}"

        description: "{{ (inventory_description | default('') | length > 0) | ternary(inventory_description, omit) }}"

        organization: "{{ (inventory_organization | default('') | length > 0) | ternary(inventory_organization, omit) }}"

        variables: "{{ (inventory_variables | default('') | length > 0) | ternary(inventory_variables, omit) }}"

        state: present

      register: inventory_result

      no_log: false  # Set to true to hide sensitive data in logs

    

    - name: Confirm inventory was created

      debug:

        msg: "Inventory '{{ inventory_name }}' has been successfully created/updated!"

      when: inventory_result is changed or inventory_result is succeeded

